.tags-container {
  color: var(--main-color);
  font-size: 1rem;
}

.tags-info {
  margin: 0;
  padding: 0;
}

.tags-info-title {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.tags-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.tags-item {
  background-color: var(--tag-color);
  border-radius: 8px;
  cursor: pointer;
  padding: 0.5rem;
  margin-left: 0.3rem;
}

/* TABLETS */
@media screen and (min-width: 744px) {
  .tags-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tags-list {
    padding: 1rem;
  }
  .tags-item {
    padding: 1rem;
  }
}
