.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  flex-grow: 1;
}

.header-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-search-input {
  width: 80%;
  height: 3rem;
  color: var(--light-gray);
  font-size: 1rem;
  background-color: transparent;
  outline: 0;
  border-color: var(--purple);
  border-radius: 9px;
}

.header-search-input::placeholder {
  padding: 0.3rem;
  text-align: left;
  color: var(--gray);
  background: url(../../assets/search.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

/* TABLETS */
@media screen and (min-width: 744px) {
  .header {
    display: flex;

    padding: 0;
    margin: 0;
  }

  .header-container {
    justify-content: center;
  }

  .header-search {
    width: 100%;
    justify-content: center;
  }

  .menu-icon {
    display: none;
  }
}
