.banner {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 21vh; */
  width: 80%;
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(../../assets/banner-space.svg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  opacity: 0.9;
  border-radius: 15px;
}

.banner__title {
  font-size: 1.3rem;
  color: var(--white);
  text-align: center;
  padding: 2rem;
}

/* TABLETS */
@media screen and (min-width: 744px) {
  .banner {
    width: 50vw;
    height: 29vw;
    margin: 1rem;
  }

  .banner__title {
    font-size: 1.1rem;
  }
}

/* DESKTOP */
@media screen and (min-width: 1000px) {
  .banner {
    width: 80%;
    height: 20vw;
    margin: 1rem;
    justify-content: flex-start;
  }
  .banner__title {
    font-size: 2.1rem;
    padding: 0 27rem 0 0.75rem;
    margin: 0;
    text-align: left;
  }
}
