.trending {
  color: var(--purple);
  font-size: 1rem;

  text-align: center;
  margin: 0;
  padding: 0;
}

.trending-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--purple);
  font-size: 1.5rem;
}

.trending-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.trending-images {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.trending-images img {
  width: 300px;
}

/* TABLETS */
@media screen and (min-width: 744px) {
  .trending-container {
    margin: 0 5rem;
  }

  .trending-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .trending-images img {
    width: 250px;
  }

  .trending-images li {
    padding: 0.5rem;
  }
}
